<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style>
    .card {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .box {
        inline-size: 150px;
        overflow-wrap: break-word;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("The Flavour Frenzy", "Index", "Range", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
     <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
     <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content bg-dark">
        @RenderBody()
        <hr />
    </div>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted" style="padding-top: 0px;">
            <section class="">
                <div class="container text-center text-md-start mt-5">

                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>The Flavour Frenzy
                            </h6>
                            <p>
                                A growing company focused on bringin affordable goods to the public
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3"></i> 123 Broadway, New Market</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                TheFlavourFrenzyHelp@Business.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> 021 123 456 789</p>
                        </div>

                    </div>

                </div>
            </section>
 
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
